@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --fonte1: "Outfit", sans-serif; 

    --White: hsl(0, 0%, 100%);

    --Slate300: hsl(212, 45%, 89%);
    --Slate500: hsl(216, 15%, 48%);
    --Slate900: hsl(218, 44%, 22%);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--Slate300);
}

div#container {
    background-color: var(--White);
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-flow: column wrap;
    
    
    margin: auto;
    margin-top: 30px;
    
    width: 300px;
    height: 580px;
}

div#img {
    background-image: url(../images/image-qr-code.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    border-radius: 15px;
    width: 260px;
    margin-top: 20px;

    flex-basis: 240px;
    align-self: center;
    flex-grow: 0;
    flex-shrink: 1;    
}

h1 {
    font-family: var(--fonte1);
    text-align: center;
    font-size: 1.7em;
    padding: 20px;
}

div.text > p {
    font-family: var(--fonte1);
    text-align: center;
    font-size: 21px;
    margin: 0px 60px 7px 60px;
}

div.attribution > p {
    font-family: var(--fonte1);
    font-size: 1.4em;
    margin-top: 10px;
    line-height: 5px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }